@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600&subset=latin,latin-ext);
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: #f5f5f5;
}

hr {
    border: 0;
    border-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

label {
    cursor: pointer;
}

a {
    color: #000;
    text-decoration: none;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}

.lightbox__holder {
    position: relative;
}

.lightbox__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 500px;
    padding:20px;
    background:#fff;
}

.lightbox__headline {
    display:block;
    margin-bottom:10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.lightbox__description {
    display:block;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.lightbox__button {
    margin-top:10px;
    padding: 10px 20px;
    width: 50%;
    background: #4cb757;
    color: #fff;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.lightbox__close {
    position: absolute;
    top:20px;
    right:20px;
    width:20px;
    height:20px;
    background: url('../img/remove.png') no-repeat center center;
    cursor: pointer;
}

.wrapper {
    width: 100%;
}

.wrapper__select {
    background: #b0defc;
}

@media screen and (min-width:1281px) {
    .wrapper__select {
        padding: 36px 0;
    }
}

.wrapper__list {
    margin-bottom: 40px;
    min-height: 300px;
    background: #f5f5f5;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}


/* ==========================================================================
   Select
   ========================================================================== */

.select {
    float: left;
    width: 240px;
    /*width: 18.75%;*/
    height: 720px;
}

@media screen and (max-width:1090px) {
    .select {
        width: 100%;
    }
}

.logo {
    min-height: 80px;
    background: #fff;
}

.logo a {
    float: left;
    width: 50%;
    min-height: 80px;
    background-position: 50% 50%;
}

.menu {
    padding: 20px;
    min-height: 265px;
    background: #f9f9f9;
}

.menu__type {
    position: relative;
}

.menu__type span {
    font-size: 13px;
    font-weight: 100;
    color: #293037;
}

.menu__select-box {
    cursor: pointer;
    background: url('../img/arrow-down.png') no-repeat right 25px;
}

.menu__select-box-list {
    display: none;
    position: absolute;
    top: 27px;
    left: -6px;
    /*background: #fff url('../img/arrow-up.png') no-repeat right 25px;*/
    background: #fff;
    width: 700px;
    border: 6px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

@media screen and (max-width:1090px) {
    .menu__select-box-list {
        width: 100%;
    }
    .menu__select-box-list .select-box__item {
        width: 100%;
    }
}

.menu__select-box-list .select-box__item {
    display: inline-block;
    padding: 6px 0;
    cursor: pointer;
    width: 230px;
}

.menu__select-box-list .select-box__item:hover {
    background-color: #f6f6f6;
}

.select-box__img {
    float: left;
    display: inline-block;
    margin-left: 6px;
    width: 64px;
    height: 64px;
}

.select-box__title {
    float: left;
    display: inline-block;
    margin-left: 10px;
    padding-top: 0;
    max-width: 120px;
    height: 78px;
    font-size: 12px;
    font-weight: 400;
}

.select-box__title small {
    display: block;
}

span.select-box__title--blue {
    color: #72b9e4;
    font-weight: 400;
}

.menu__construction {
    padding: 10px 0;
    font-size: 13px;
    font-weight: 100;
    color: #293037;
}

.menu__options {
    font-size: 13px;
    font-weight: 100;
    color: #293037;
}

.options__item {
    position: relative;
    margin-top: 15px;
    cursor: pointer;
    background: url('../img/arrow-down.png') no-repeat right 3px;
}

.options__list {
    display: none;
    position: absolute;
    top: -11px;
    right: -6px;
    background: #fff url('../img/arrow-up.png') no-repeat right 3px;
    width: 80px;
    border: 6px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 9998;
}

.options__list .options__select {
    padding: 5px 0;
    width: 80px;
}

@media screen and (max-width:1090px) {
    .options__list,
    .options__list .options__select {
        width: 100%;
    }
}

.options__list .options__select:hover {
    background-color: #f6f6f6;
}

.options__list .options__select:first-child {
    border-bottom: 1px solid #ddd;
}

.options__list .options__select span {
    margin-right: 20px;
}

.options__title {
    float: left;
    display: inline-block;
    width: 120px;
}

.options__select {
    float: left;
    display: inline-block;
    width: 60px;
    text-align: right;
}

.tabs__content {
    position: relative;
    min-height: 365px;
    background: #2561a0;
}

.tabs__box {
    display: block;
    padding: 10px 15px;
    font-size: 13px;
    font-weight: 100;
    background: #2561a0;
    color: #fff;
    cursor: pointer;
}

.tabs__box:hover {
    background: #1a518b;
}

.tabs__box--no-hover:hover {
    background: #2561a0;
}

.tabs__box--relative {
    position: relative;
}

.tabs__box--arrow {
    display: none;
    position: absolute;
    top: 10px;
    right: -20px;
    width: 20px;
    height: 20px;
    background-image: url('../img/in-tab-hover.png');
    background-repeat: no-repeat;
    background-position: -100% 50%;
    z-index: 9999;
}

.tabs__box--relative:hover .tabs__box--arrow {
    display: block;
}

li.tab__link {
    background-image: url('../img/tab-plus.png');
    background-repeat: no-repeat;
    background-position: 70% center;
}

li.tab__link--active {
    background-image: url('../img/tab-check.png');
}

li.tab__link span {
    padding-left: 35%;
}

ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.tabs li {
    float: left;
    display: inline;
    padding: 10px 0;
    width: 25%;
    background-color: #1a518b;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    cursor: pointer;
}

ul.tabs li.current {
    background-color: #2561a0;
}

.tab-content {
    display: none;
    padding: 15px 0;
}

.tab-content.current {
    display: inherit;
}

.tabs__plus-minus {
    position: relative;
    display: block;
    float: right;
    margin-top: 15px;
    width: 97px;
    height: 42px;
    background: #c7c7c7;
    border-radius: 4px;
}

input.qty {
    position: absolute;
    top: 0;
    left: 0;
    display: inline;
    width: 65px;
    height: 40px;
    border: 0;
    border-radius: 4px 0 0 4px;
    font-size: 13px;
    text-align: center;
}

input.qtyplus {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 20.5px;
    border: 0;
    border-radius: 0 4px 0 0;
    background: #e6e6e6;
    cursor: pointer;
}

input.qtyminus {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30px;
    height: 20.5px;
    border: 0;
    border-radius: 0 0 4px 0;
    background: #e6e6e6;
    cursor: pointer;
}

.tabs__content {}

span.tabs__lenght {
    position: absolute;
    top: 65px;
    left: 20px;
}

.tabs__select {}

.tabs__send {
    position: absolute;
    left: 12px;
    bottom: 12px;
    padding: 20px 30px 20px 50px;
    width: 90%;
    background: #4cb757 url('../img/envelope.png') no-repeat 15px 50%;
    color: #fff;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

@media screen and (max-width:1090px) {
    .tabs__send {
        position: static;
        margin-left: 20px;
    }
}

.tabs__gate--holder {
    position: relative;
    z-index: 9999;
}

.tabs__gate {
    display: none;
    position: absolute;
    left: 225px;
    bottom: -100px;
    width: 830px;
    height: 220px;
    background: #fff;
    transition: width 0.3s;
    z-index: 9998;
}

@media screen and (max-width:1090px) {
    .tabs__gate {
        display: none;
        position: static;
        left: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        background: #fff;
        transition: width 0.3s;
        z-index: 9999;
    }
    .gate__item {
        width: 100%!important;
    }
}

.gate__item {
    position: relative;
    box-sizing: border-box;
    float: left;
    margin-top: 10px;
    padding-top: 20px;
    width: 20%;
    height: 200px;
    text-align: center;
    border-right: 1px solid #ededed;
}

.gate__item:last-child {
    border-right: none;
}

.gate__item:hover {
    cursor: pointer;
    background-image: url('../img/gate-active.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.gate__item:hover a.gate__details {
    display: block;
}

img.gate__image {
    display: block;
    margin: 0 auto;
}

span.gate__title {
    color: #72b9e4;
    font-size: 13px;
    font-weight: 400;
    text-decoration: underline;
}

a.gate__details {
    display: none;
    color: #293037;
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
}

.big-gate-height {
    display: none;
    padding: 2px 15px 15px 15px;
    color: #fff;
    font-size: 13px;
    font-weight: 100;
}

.big-gate-height .options__select {
    color: #000;
}

.big-gate-height .options__select--holder {
    color: #fff;
}

.big-gate-height .options__item {
    margin-top: 0px;
}

.big-gate-height .options__title span {
    padding-left: 25px;
}


/* ==========================================================================
   Preview
   ========================================================================== */

.preview {
    position: relative;
    float: right;
    width: 78%;
    height: 767px;
    overflow: hidden;
}

@media screen and (max-width:1090px) {
    .preview {
        display: none;
    }
}

.preview__wrap {
    position: relative;
    margin: 100px auto;
    width: 950px;
    height: 550px;
    background-image: url(../img/preview-base.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.preview__call {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 185px;
    height: 60px;
    background: url('../img/call.png') no-repeat 50% 50%;
}

@media screen and (max-width:1090px) {
    .preview__call {
        display: none;
    }
}

.preview__base {
    position: absolute;
    top: 0;
    left: 0;
    width: 950px;
    height: 550px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.preview__base-a {
    display: none;
    background-image: url(../img/base-a.png);
}

.preview__base-b {
    display: none;
    background-image: url(../img/base-b.png);
}

.preview__base-c {
    display: none;
    background-image: url(../img/base-c.png);
}

.preview__base-d {
    display: none;
    background-image: url(../img/base-d.png);
}

.preview__recap {
    position: absolute;
    left: 50%;
    bottom: 35px;
    transform: translateX(-50%);
    width: 750px;
}

.recap__column {
    display: inline-block;
    float: left;
    padding-left: 40px;
    width: 147px;
    font-size: 12px;
    color: #276181;
}

#recap-a.recap__column {
    background-image: url('../img/recap-a.png');
    background-repeat: no-repeat;
    background-position: 0% 45%;
}

#recap-b.recap__column {
    background-image: url('../img/recap-b.png');
    background-repeat: no-repeat;
    background-position: 0% 45%;
}

#recap-c.recap__column {
    background-image: url('../img/recap-c.png');
    background-repeat: no-repeat;
    background-position: 0% 45%;
}

#recap-d.recap__column {
    background-image: url('../img/recap-d.png');
    background-repeat: no-repeat;
    background-position: 0% 45%;
}

span.recap__title {
    display: block;
}


/* ==========================================================================
   List
   ========================================================================== */

.list {
    margin: 0 auto;
    max-width: 1180px;
}

@media screen and (max-width:1090px) {
    .list {
        padding-top: 50px;
    }
}

hr.list__headline {
    margin: 50px 0 10px 0;
    padding: 0px;
    width: 100%;
    border: none;
    border-top: 2px solid #e3e3e3;
    color: #64717d;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

hr.list__headline:after {
    content: "Soupis materiálu";
    display: inline-block;
    position: relative;
    top: -22px;
    font-size: 28px;
    padding: 0 40px;
    background: #F5F5F5;
    z-index: 1;
}

.list__content {
    padding: 60px 50px;
    background: #fff;
}

@media screen and (max-width:1090px) {
    .list__content {
        padding: 10px;
    }
}

@media screen and (min-width:1091px) {
    table.content__item {
        width: 100%;
    }
    .content__item tr {
        padding: 10px 0 0 0;
        height: 40px;
        line-height: 40px;
    }
    .content__item tr td {
        padding-top: 10px;
        border-top: 1px solid #d8d8d8;
    }
    .content__image,
    .content__title,
    .content__number,
    .content__price {
        display: inline-block;
        float: left;
    }
    .content__title span,
    .content__number span,
    .content__price span {
        padding-top: 10px;
    }
    .content__image img {
        width: 40px;
        height: 40px;
        border: 1px solid #d8d8d8;
    }
    .content__title {
        width: 700px;
        padding-left: 15px;
        width: 70em;
        font-size: 13px;
    }
    .content__item--numbers {
        float: right;
        width: 125px;
    }
    .content__number {
        font-size: 13px;
    }
    .content__price {
        float: right;
        padding-right: 15px;
        width: 65px;
        text-align: right;
        font-size: 13px;
    }
}

table.list__subtotal {
    padding: 25px 15px;
    width: 100%;
    background: #f5f5f5;
    font-size: 13px;
    font-weight: 600;
    border-top: 1px solid #d8d8d8;
}

.list__subtotal tr {
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #d8d8d8;
}

td.subtotal__price {
    text-align: right;
}

td.total__icon {
    width: 45px;
    height: 45px;
    background: url('../img/buy-button.png') 50% 50%;
}

table.list__total {
    padding: 25px 15px;
    width: 100%;
    background: linear-gradient(#4db858, #43aa4d);
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    border-top: 1px solid #d8d8d8;
}

td.total__price {
    text-align: right;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
